:host p-toggleswitch {
    --p-toggleswitch-width: 50px;
    --p-toggleswitch-height: 30px;
    --p-toggleswitch-border-radius: 7px;
    --p-toggleswitch-handle-border-radius: 5px;
    --p-toggleswitch-handle-size: 25px;
    --p-toggleswitch-gap: 3px;
}