@font-face {
    font-family: 'calcicons';
    -webkit-user-select: none;
    user-select: none;
    
    src: url('./icons.eot');
    src: url('./icons.eot?#iefix') format('embedded-opentype'),
         url('./icons.woff') format('woff'),
         url('./icons.ttf') format('truetype'),
         url('./icons.svg#spokeo') format('svg');
}

.ci {
    font-family: 'calcicons';
    font-weight: normal;
    font-style: normal;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    position: relative;
}

.ci-graphs:before { content:'\e900'; }