:host {
    width: 100%;
    display: flex;
    flex-direction: row;
    --c-split-handle-radius: 4px;
}

.c-split-handle-wrapper {
    width: 0;
    height: 100%;
    .c-split-handle {
        display: block;
        height: 100%;
        min-height: 100%;
        position: relative;
        right: var(--c-split-handle-radius);
        padding: var(--c-split-handle-radius);
        cursor: e-resize;
    }
}

.c-split-left {
    width: var(--ratio);
    height: 100%;
}

.c-split-left-wrapper {
    display: inline;
}

.c-split-right {
    width: calc(100% - var(--ratio));
    height: 100%;
}

.c-split-right-wrapper {
    top: -100%;
}