<main class="main">
  <div class="menubar">
    <div class="menubar-left">
      <button class="menubar-icon-button">
        <i class="ci ci-graphs"></i>
      </button>
      <div class="menubar-divider"></div>
      <button class="menubar-icon-button">
        <i class="pi pi-share-alt"></i>
      </button>
      <button class="menubar-icon-button">
        <i class="pi pi-save"></i>
      </button>
      <input type="text" [value]=graphTitle class="menubar-graph-title"/>
    </div>
    <div class="menubar-middle">
      <h2 class="menubar-title">Calculator</h2>
    </div>
    <div class="menubar-right">
      <c-theme-toggle/>
      <button class="menubar-icon-button">
        <i class="pi pi-user"></i>
      </button>
    </div>
  </div>
  <c-split-pane [ratio]=0.25 class="body-panel">
    <c-split-pane-left>
      <c-expression-list/>
    </c-split-pane-left>
    <c-split-pane-right>
      <c-graph/>
    </c-split-pane-right>
  </c-split-pane>
</main>

<router-outlet/>