main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.body-panel {
    //flex: 1;
    height: calc(100% - 50px);
}

.menubar-icon-button {
    i {
        font-size:large;
    }

    width: fit-content;
    height: fit-content;
    padding: 7px;
    background-color: var(--p-content-background);
    border: 1px solid var(--p-content-border-color);
    border-radius: var(--p-content-border-radius);

    transition: 
    background-color 0.1s ease-in-out, 
    border-color 0.1s ease-in-out;

    &:hover {
        background-color: var(--p-content-hover-background);
        border: 1px solid var(--p-form-field-border-color);
    }

    &:active {
        background-color: var(--p-content-background);
        border: 1px solid var(--p-form-field-border-color);
    }
}

.menubar-graph-title {
    font-size: large;
    background-color: var(--p-form-field-background);
    color: var(--p-text-color);
    border: none;
    outline: 1px solid transparent;
    padding: 7px;
    height: 35px;
    border-radius: var(--p-content-border-radius);

    transition: 
    background-color 0.1s ease-in-out, 
    outline-color 0.1s ease-in-out;

    &:focus {
        outline: 1px solid var(--p-content-border-color);
        background-color: var(--p-content-hover-background);
    }
    &:hover {
        outline: 1px solid var(--p-content-hover-background);
    }
    &:focus:hover {
        outline: 1px solid var(--p-form-field-border-color);
    }
}

.menubar {
    background-color: var(--p-form-field-background);
    height: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

.menubar-left {
    display: flex;
    gap: 5px;
    padding: 5px;
    padding-left: 6px;
    height: 50px;
    flex-direction: row;
    justify-self: left;
    align-items: center;
}

.menubar-middle {
    display: flex;
    gap: 5px;
    padding: 5px;
    height: 50px;
    align-items: center;
    flex-direction: row;
    justify-self: center;
}

.menubar-right {
    display: flex;
    gap: 5px;
    padding: 5px;
    padding-right: 6px;
    height: 50px;
    align-items: center;
    flex-direction: row;
    justify-self: right;
}

.menubar-divider {
    width: 0;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    border-right: 1px solid var(--p-content-border-color);
}

.menubar-title {
    font-family: Arial, Helvetica, sans-serif;
}