.c-expression-list-panel {
    border-right: 1px solid var(--p-content-border-color);
    height: 100%;
}

.c-expression-list-entry {
    border-bottom: 1px solid var(--p-content-border-color);
    display: flex;
}

.c-expression-list-expression-container {
    padding: 10px;
    flex: 1;
    display: inline-block;
    overflow-x: auto;
}

.c-expression-list-style-panel {
    display: flex;
    width: 50px;
    min-width: 50px;
    min-height: 50px;
    border-right: 1px solid var(--p-content-border-color);
}

.c-expression-list-end-style-panel {
    height: 50px;
}

.c-expression-list-expression-index {
    font-size: x-small;
    align-self: first baseline;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none;
    user-select: none;
    margin: 3px;
    padding: 0;
    color: var(--p-list-option-icon-color);
}

.c-expression-list-style-button {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: none;
    outline: none;
    border: none;
    padding: 0;
    margin: 5px;
    img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
        margin: 0;
        padding: 0;
    }
}

.c-expression-list-end-style-panel {
    display: flex;
    border-right: 1px solid transparent; 
    border-image: linear-gradient(var(--p-content-border-color), var(--p-content-background)); 
    border-image-slice: 1; 
    height: 25px;
    width: 50px;
    min-width: 50px;
}