<!-- Gonna have to cook this up myself bc their implmentation sucks ass -->
<div class="c-expression-list-panel">
    @for (entry of entries; track entry; let i = $index){
        <div class="c-expression-list-entry">
            <div class="c-expression-list-style-panel">
                <p class="c-expression-list-expression-index">{{i}}</p>
                <button class="c-expression-list-style-button">
                    <img src="function_toggle.svg" alt=""/>
                </button>
            </div>
            <div class="c-expression-list-expression-container">
                <c-expression-edit-box [tex]=entry/>
            </div>
        </div>
    }
    <div class="c-expression-list-end">
        <div class="c-expression-list-end-style-panel">
            <p class="c-expression-list-expression-index">{{entries.length}}</p>
        </div>
    </div>
</div>