:host canvas {
    width: 100%;
    height: 100vh;
    --graph-background-color: var(--p-content-background);
    --graph-line-color: var(--p-text-color);
    --graph-thin-line-color: var(--p-text-color);
    --graph-text-color: var(--p-text-color);
}